/* General styling for both buttons */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the buttons */
  gap: 20px; /* Space between buttons */
}

.btn, .google-sign-in-box {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #0056b3; /* Same color as the Explore button */
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.google-sign-in-box .g_id_signin {
  width: 200px;
  margin-top: 0px; /* Same top margin as the Explore button */
}

/* Hover effect for both buttons */
.btn:hover, .google-sign-in-box:hover {
  background-color: #003d82;
}

/* Hero Section Styling */
.hero {
  background: #f4f7fc;
  padding: 50px 20px;
  text-align: center;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

#explore-features-btn {
  display: inline-block;
  background-color: #0056b3;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s;
}

#explore-features-btn:hover {
  background-color: #003d82;
}

/* Footer Styling */
.footer {
  background-color: #282828;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
}
